<!DOCTYPE html>
<html>
  <head>
    <title>Untitled</title>
    <%%= stylesheet_link_tag "application", "centering_wrapper", :media => "all" %>
    <%%= javascript_include_tag "application" %>
    <%%= csrf_meta_tag %>
  </head>
  <body>
  	<div class="horizontalWrapper">
      <div class="verticalWrapper">
        <div class="contentContainer">

        	<%%= yield %>

  			</div>
  		</div>
  	</div>
  </body>
</html>