<div class="page-header">
  <h2><%= link_to_unless_current seminar.title, seminar %></h2>
  
  <p><%= seminar.body %></p>
  
  <p>
    <strong>Presenters:</strong>
    
  <% for presenter in seminar.presenters do %>
    <%= link_to presenter.name, presenter, class: 'presenter name' %>
  <% end %>
  </p>
  
  <p>
    <strong>Tags:</strong>
    <%= render seminar.tags %>
  </p>
</div>