<div class="page-header">
  <h2><%= @presenter.name %></h2>
  
  <p><%= @presenter.about %></p>
  
  <p>
    <strong>Tags:</strong>
    <%= render :partial => 'tags/tag', :collection => @tags %>
  </p>
</div>